
<!-- <button><a routerLink="/ViewQuestions"routerLinkActive="active">View Questions</a></button>
<br>
<br>
<button><a routerLink="/AdminPage"routerLinkActive="active">View Reports</a></button> -->

<!-- <body>
    <div class="id">
        <br><br><br><br>
        <label>Welcome Admin!</label>
        <br><br><br>

        <img class="img-responsive login-img" src='assets/home.jpg' style="margin-top: 10%;width: 1000%;"> 
    
    <button type="button" class="btn btn-dark btn-lg" style="font-size: 1em;"><a routerLink="/display"routerLinkActive="active">View Questions</a></button>
    </div>
    <br><br><br>
    <div>
        <button type="button" class="btn btn-dark btn-lg" style="font-size: 1em;">&nbsp;&nbsp;View Reports &nbsp;</button>
    </div>
    <br><br>
    <br><br> <br><br><br><br><br>

</body> -->

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 20px; ">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a style="color: whitesmoke;" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <a style="color: whitesmoke;"class="nav-link" href="#">About us<span class="sr-only">(current)</span></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <a  style="color: whitesmoke;" class="nav-link" href="#">Contact us<span class="sr-only">(current)</span></a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="topnav-right">
                <li class="nav-item active">
                    <a  style="color: whitesmoke;" class="nav-link" href="AdminLogin">Logout<span class="sr-only">(current)</span></a>
                </li>
        </div>
            
            
          </ul>
        </div>
      </nav>
    <div id="login">
        
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post" #adminform="ngForm" novalidate
                            class="container text-align: center" >
                            <h3 class="text-center text-dark">Welcome Admin!</h3>
                            <br>
                            <br>
                            
                            
                            <div class="form-group">
                                
                                <button type="button" class="btn btn-dark btn-lg btn-block" style="font-size: 2em;"><a style="color: white;" routerLink="/display"routerLinkActive="active">View Questions</a></button>
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="button" class="btn btn-dark btn-lg btn-block" style="font-size: 2em;"><a style="color: white;" routerLink="/searchreports"routerLinkActive="active">Search Students</a></button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
