<p>courses-info works!</p>
<div class='container'>
    <h2 class="text-center"><b>Know your course</b></h2> <br/>  
       <ul>
           <li>
            What is Java?
            Java is a general-purpose, class-based, object-oriented programming language designed for having lesser implementation dependencies.</li>
          <li>  It is a computing platform for application development. </li>
          <li>It is fast, secure, and reliable and therefore it is widely used for developing Java applications in laptops, data centers, game consoles, scientific supercomputers, cell phones, etc.</li>
          <li>It is a collection of programs that help programmers to develop and run Java programming applications efficiently.

        </li>
          <li> It includes an execution engine, a compiler, and a set of libraries in it. It is a set of computer software and specifications.</li>
       </ul><br/>
        <h3 class="text-left">Click Next to start the exam!</h3>
       
        <button type="submit" class="btn btn-primary btn-block" > <a routerLink="/startexam/Course_id" routerLinkActive="active">Take Test</a></button> 
       
           
        <!-- <button type="submit" class="btn btn-primary btn-block" [disabled]='userform.invalid'>Submit</button>  -->
        <!-- <a [routerLink]="['/test']" routerLinkActive ="active" >START EXAM</a> -->
  
  </div>