<!DOCTYPE html>
                    <html>
                    <title>W3.CSS Template</title>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <style>
                        body,
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            font-family: "Raleway", sans-serif
                        }
                    
                        body,
                        html {
                            height: 100%;
                            line-height: 1.8;
                        }
                    
                        /* Full height image header */
                        .bgimg-1 {
                            background-position: center;
                            background-size: cover;
                            background-image: url("/w3images/mac.jpg");
                            min-height: 100%;
                        }
                    
                        .w3-bar .w3-button {
                            padding: 16px;
                        }
                    </style>
                        
<body>
    <div class="w3-top" style="font-size: 15px; ">
        <div class="w3-bar w3-white w3-card" id="myNavbar" style="padding: 10px;">
            <a href="#home" class="w3-bar-item w3-button w3-wide"><strong>Welcome to the TECHNO WRITE</strong></a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="#" class="w3-bar-item w3-button" routerLink="/homepage" routerLinkActive="active"><strong>HOME </strong></a>
                <a href="#reports" class="w3-bar-item w3-button" routerLink="/reports" routerLinkActive="active"><strong>TEST HISTORY</strong></a>
                 
                <a href="#UserLogin" class="w3-bar-item w3-button" routerLink="/UserLogin" routerLinkActive="active"><strong>LOGOUT</strong></a>  
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <br>
    
                    <div class="w3-container" style="padding:128px 16px" id="team">
                        
                        <h3 class="w3-center" style="color: whitesmoke; font-size: 40px;"><b>Courses Available</b></h3>
                        <p class="w3-center w3-large" style="color: whitesmoke; font-size: 25px;">Click And Take Test</p>
                        <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="w3-card">
            
                                    <div class="w3-container"  style="background-color:whitesmoke;" >
                                        <h3>Java</h3>                
                                        <p class="w3-opacity">oops</p>
                                        <p>Java is an object oriented programming languge that uses classes and objects</p>
                                        <p style="color: white;"><button class="w3-button bg-dark w3-block" [routerLink]="['/startexam/',100]" >
                                                Take Test</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom" >
                                <div class="w3-card">
            
                                    <div class="w3-container"  style="background-color:whitesmoke;">
                                        <h3>SQL</h3>
                                        <p class="w3-opacity">Data Base</p>
                                        <p>Sql use query language to make changes or get data from the data base</p>
                                        <p style="color: white;"><button class="w3-button bg-dark w3-block" [routerLink]="['/startexam/',200]">
                                                Take Test</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="w3-card">
            
                                    <div class="w3-container" style="background-color:whitesmoke;">
                                        <h3>C#</h3>
                                        <p class="w3-opacity">Strongly typed</p>
                                        <p>C# is a object oriented programming language which is strongly typed</p>
                                        
                                        <p style="color: white;"><button class="w3-button bg-dark w3-block" [routerLink]="['/startexam/',300]">
                                                Take Test</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="w3-col l3 m6 w3-margin-bottom">
                                <div class="w3-card">
            
                                    <div class="w3-container"  style="background-color:whitesmoke;">
                                        <h3>Python</h3>
                                        <p class="w3-opacity">OOPs+functionalprogramming</p>
                                        <p>Python is a language widely used in Data Science</p>
                                        <p style="color: white;"><button class="w3-button bg-dark w3-block" [routerLink]="['/startexam/',400]">
                                                Take Test</button></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    
                </body>
            </html>


