<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }

    body,
    html {
        height: 100%;
        line-height: 1.8;
    }

    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("/w3images/mac.jpg");
        min-height: 100%;
    }

    .w3-bar .w3-button {
        padding: 16px;
    }
</style>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
            <a href="#home" class="w3-bar-item w3-button w3-wide"><strong>Welcome to the TECHNO WRITE</strong></a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                
                
                <a routerLink="/UserLogin" routerLinkActive="active" class="w3-bar-item w3-button"><i class="fa fa-th"></i> USERLOGIN</a>
                <a href="#adminlogin" class="w3-bar-item w3-button" routerLink="/AdminLogin" routerLinkActive="active" ><i class="fa fa-th"></i> ADMINLOGIN</a>

                <a href="#contact" class="w3-bar-item w3-button" routerLink="/contact" routerLinkActive="active"><i class="fa fa-envelope" ></i> CONTACT</a>
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <br>
    <h2 class="w3-center"><b>About Us</b></h2>
        <div class="w3-container w3-light-grey" style="padding:128px 16px">
            
            <div class="w3-row-padding">
                <div class="w3-col m6">
                    <h3>We know Our Work.</h3>
                    <p>Our user interface is the most user friendly and makes ease for u without glitches<br>So, trust us
                        and give ur test with full Confidence. Today, 37 years down the line, It has turned into India’s foremost Paper-Pencil-Based Testing Solutions company with more than 100 premier customers in India today.<br><br> Till now we have served more than 1590 customers and conducted 1130 million exams.

                        We presently convey more than 50 million exams each year for our clients from diverse fields. Our decades of experience in both test development and delivery has helped our customers in successfully delivering exams that measure the skills, knowledge and attitude they needed to measure. We work closely with our partners and our reliability ensures that our partners succeed in their tests. We deliver the right mix of expertise, guidance, execution, customer service and complete solution for all our clients.<br><br>Our Client list includes various Secondary Education Boards, Universities, Various All India and State Level Recruitment Boards and Bodies conducting Entrance Tests on National and State Level. Having been in this segment for over last three decades, we are claimed to be masters in this field delivering to our Clients with Zero Defect.</p>
                    
                </div>
                <div class="w3-col m6">
                    <img class="w3-image w3-round-large" src="\assets\online3.jpg" alt="Buildings" width="700" height="394">
                </div>
            </div>
        </div>

        <!-- Team Section -->
        <div class="w3-container" style="padding:128px 16px" id="team">
            <h3 class="w3-center">THE TEAM</h3>
            <p class="w3-center w3-large">The ones who runs this company</p>
            <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">

                        <div class="w3-container">
                            <h3>Geethika</h3>
                            <p class="w3-opacity">CEO & Founder</p>
                            <p>The allrounder who can work for the company 24X7.</p>
                            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i>
                                    Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">

                        <div class="w3-container">
                            <h3>Madhurima</h3>
                            <p class="w3-opacity">MD</p>
                            <p>Passionate worker, allrounder and best at her efficiency.</p>
                            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i>
                                    Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">

                        <div class="w3-container">
                            <h3>Venkat</h3>
                            <p class="w3-opacity">Web Designer</p>
                            <p>Workoholic,problem solver,and a cricker player</p>
                            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i>
                                    Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom">
                    <div class="w3-card">

                        <div class="w3-container">
                            <h3>Abu</h3>
                            <p class="w3-opacity">Supporting Staf</p>
                            <p>Highly energetic, determined and passionate about work</p>
                            <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i>
                                    Contact</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Promo Section "Statistics" -->
        <div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
            <div class="w3-quarter">
                <span class="w3-xxlarge">14+</span>
                <br>Partners
            </div>
            <div class="w3-quarter">
                <span class="w3-xxlarge">55+</span>
                <br>Projects Done
            </div>
            <div class="w3-quarter">
                <span class="w3-xxlarge">89+</span>
                <br>Happy Clients
            </div>
            <div class="w3-quarter">
                <span class="w3-xxlarge">150+</span>
                <br>Meetings
            </div>
        </div>

        <!-- Work Section -->


        <!-- Modal for full size images on click-->
        <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
            <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright"
                title="Close Modal Image">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption" class="w3-opacity w3-large"></p>
            </div>
        </div>

        <!-- Skills Section -->
        <div class="w3-container w3-light-grey w3-padding-64">
            <div class="w3-row-padding">
                <div class="w3-col m6">
                    <h3>Our Skills.</h3>
                    <p>Help resolve the issue instantly no matter what<br>we have our best technicians to help u take the
                        examination</p>
                    <p>We make sure that our service is available to you for any device u have.<br>
                        We make sure that no glitches come across your way.</p>
                        <p>We are available 24X7 to serve u.<br>
                            so,just chill and prepare for your examination.</p>
                </div>
                <div class="w3-col m6">
                    <p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>Entrance Examinations with Surveilience</p>
                    <div class="w3-grey">
                        <div class="w3-container w3-dark-grey w3-center" style="width:90%">90%</div>
                    </div>
                    <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>State pcs, and other govt projects</p>
                    <div class="w3-grey">
                        <div class="w3-container w3-dark-grey w3-center" style="width:85%">85%</div>
                    </div>
                    <p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>National Level olympiads</p>
                    <div class="w3-grey">
                        <div class="w3-container w3-dark-grey w3-center" style="width:75%">75%</div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="w3-center w3-black w3-padding-30">
        
            <div class="w3-xlarge w3-section">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
                    class="w3-hover-text-green">Tecno Write</a></p>
        </footer>
</body>
</html>



