


 <body>
    <div class="w3-top" style="font-size: 15px; ">
        <div class="w3-bar w3-white w3-card" id="myNavbar" style="padding: 10px;">
            <a href="#home" class="w3-bar-item w3-button w3-wide"><strong>Welcome to the TECHNO WRITE</strong></a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="#" class="w3-bar-item w3-button" routerLink="/homepage" routerLinkActive="active">HOME</a>
                <a href="#about" class="w3-bar-item w3-button" routerLink="/about" routerLinkActive="active">ABOUT</a>                
                <a href="#contact" class="w3-bar-item w3-button" routerLink="/contact" routerLinkActive="active"><i class="fa fa-envelope" ></i> CONTACT</a>
                  
            </div>
            <!-- Hide right-floated links on small screens and replace them with a menu icon -->

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
      <br><br>
      <br><br>
    <div class="container">
        <form class="form-horizontal" role="form" #userform='ngForm'(ngSubmit)='saveUser(user)'>
            <h3 style="text-align: center;">Register user</h3>

            <div class="form-group" [class.has.error]="namecontrol.touched && namecontrol.invalid">
                
                <div class="col-sm-9" class="b">
                    <input type="text" size="80%" id="id" placeholder="User id" class="form-control" name= "userid" required autofocus [(ngModel)]='user.User_id'  #namecontrol='ngModel'/>
                </div>
                <span class='help-block alert-danger' *ngIf='namecontrol.touched && namecontrol.invalid'>
                 Id cannot be blank
                </span>                
            </div>

            <div class="form-group" [class.has.error]="namecontrol.touched && namecontrol.invalid">
               
                <div class="col-sm-9" class="b">
                    <input type="text" size="80%" id="name" placeholder="FirstName" class="form-control" name= "first" required autofocus [(ngModel)]='user.Fullname'  #namecontrol='ngModel'/>
                </div>
                <span class='help-block alert-danger' *ngIf='namecontrol.touched && namecontrol.invalid'>
                    FirstName cannot be blank
                </span>                
            </div>
            <div class="form-group" [class.has.error]="namecontrol.touched && namecontrol.invalid">
                
                <div class="col-sm-9" class="b">
                    <input type="text" size="80%" id="name2" placeholder="SecondName" class="form-control" name= "second" required autofocus [(ngModel)]='user.Secondname'  #namecontrol='ngModel'/>
                </div>
                <span class='help-block alert-danger' *ngIf='namecontrol.touched && namecontrol.invalid'>
                    SecondName cannot be blank
                </span>                
            </div>
            
            <div class="form-group" [class.has.error]="emailcontrol.touched && emailcontrol.invalid">
                
                <div class="col-sm-9" class="b">
                    <input type='text' id='email' placeholder="Email" name='email' class="form-control" required [(ngModel)]='user.Email' #emailcontrol='ngModel'/>
                </div>
                <span class='help-block alert-danger' *ngIf='emailcontrol.touched && emailcontrol.invalid'>
                    Email cannot be blank
                </span>
            </div>
            <div class="form-group" [class.has.error]="passcontrol.touched && passcontrol.invalid">
               
                <div class="col-sm-9" class="b">
                    <input type="password" id="password" placeholder="Password" class="form-control"  name='pass' required [(ngModel)]='user.Password' #passcontrol='ngModel'/>
                </div>
                <span class='help-block alert-danger' *ngIf='passcontrol.touched && passcontrol.invalid'>
                    password cannot be blank
                </span>
            </div>        
            
            <div class="form-group" [class.has.error]="mobilecontrol.touched && mobilecontrol.invalid">
                
                <div class="col-sm-9" class="b">
                    <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" name="phoneNumber " class="form-control" required [(ngModel)]='user.Phone_no' #mobilecontrol='ngModel'/>
                    
                </div>
                <span class='help-block alert-danger' *ngIf='mobilecontrol.touched && mobilecontrol.invalid'>
                    mobile number cannot be blank
                </span>
            </div>

            <div class="form-group" [class.has.error]="citycontrol.touched && citycontrol.invalid">
                
                <div class="col-sm-9" class="b">
                    <input type="text" id="city" class="form-control" name="City" placeholder="City" required [(ngModel)]='user.City' #citycontrol='ngModel'/>
                  
                </div>
            </div>
            <div class="form-group" >
                
                <div class="col-sm-9" class="b">
                    <input type='date' id='dob' class="form-control" name='dob' required [(ngModel)]='user.Date_of_Birth' #dobcontrol='ngModel'/>
                </div>
            </div>
        
            <div class="form-group">
                
                <div class="col-sm-9" class="b">
                    <select id="state" name="state" placeholder="select state" required  class="form-control" [(ngModel)]='user.State'>
                        <option value="" >select a state</option>
                        <option *ngFor="let st of state " value={{st}} >{{st}}</option>
                       </select>

                </div>
                <span class='help-block alert-danger' *ngIf='citycontrol.touched && citycontrol.invalid'>
                    state cannot be blank
                </span>
            </div>

            

            
            <div class="form-group"  [class.has.error]="qualcontrol.touched && qualcontrol.invalid">
                
                <div class="col-sm-9" class="b">
                    <input type="text" id="qualification" class="form-control" name='qual' placeholder="Qualification" required [(ngModel)]='user.Qualification' #qualcontrol='ngModel'/>

                </div>
                <span class='help-block alert-danger' *ngIf='qualcontrol.touched && qualcontrol.invalid'>
                    qualification cannot be blank
                </span>
            </div>
            <div class="form-group"  [class.has.error]="yearcontrol.touched && yearcontrol.invalid">
                
                <div class="col-sm-9" class="b">
                    <input type="text" id="yearOfPassing" class="form-control" name='year' placeholder="Year of passing" required [(ngModel)]='user.Year_Of_Passing' #yearcontrol='ngModel'/>

                </div>
                <span class='help-block alert-danger' *ngIf='yearcontrol.touched && yearcontrol.invalid'>
                    Year Of Passing required
                 </span>
            </div>
            <br>
            
            
            
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]='userform.invalid'>Register</button>
            
        </form>
    </div>
</body>  
