body {
    background: url('src\assets\School-Math-scaled.jpg') fixed;
   background-size: cover;
  
   
}

*[role="form"] {
   max-width: 450px;
   padding: 15px;
   
   margin: 0 auto;
   border-radius: 0.3em;
   background-color: whitesmoke;
   padding-right: 50px;
   padding-left:50px;
   

  
      
   
}
b{
    align-self: center;
}

*[role="form"] h3 { 
   font-family: 'Open Sans' , sans-serif;
   font-size: 30px;
   font-weight: 600;
   color:black;
   padding-bottom: 10px;
   margin-top: 5%;
   
   text-transform: uppercase;
   letter-spacing: 4px;
}